{% extends "base.html" %} {% block title %}Check In{% endblock %} {% block content
%}
  <form method="POST">
    <div align="center" class="form-group">
      <br><br><br>
      <label for="checkInTime">Check in</label><br>
      <input type="date" name="checkInDate" id="checkInDate">
      <input type="time" name ="checkInTime" id="checkInTime">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <script>
    // Get the current time
    var currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
    // Set the current time as the default value of the input
    document.getElementById('checkInTime').value = currentTime;

    // Get the current date
    var currentDate = new Date();

    // Format the current date as YYYY-MM-DD
    var year = currentDate.getFullYear();
    var month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
    var day = currentDate.getDate().toString().padStart(2, '0');
    var formattedDate = year + '-' + month + '-' + day;

    // Set the default value of the input field
    document.getElementById('checkInDate').value = formattedDate;
    document.getElementById('checkInDate').max = formattedDate;
  </script>
{% endblock %}
