body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header, footer {
    height: 16%;
    clear: both;
}

main {
    height: 68%;
    box-sizing: border-box;
    clear: both;
}

footer {
    padding-right: 10px;
    text-align: center;
}

#company{
    float: left;
    text-align: right;
}
#creator{
    
}